<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <!-- THE REST OF YOUR HTML CODE GOES HERE -->
    <div class="row">
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Date</th>
                <th>Time</th>
                <th>Image</th>
                <th>Book</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <% if (results) { %>
                        <% results.forEach(result => { %>
                        <tr>
                        <td><%= result.name %></td>
                        <td><%= result._embedded.venues[0].city.name %></td>
                        <td><%= result._embedded.venues[0].country.countryCode %></td>
                        <td><%= result.dates.start.localDate%></td>
                        <td><%= result.dates.start.localTime%></td>
                        <td> <img height="100px" src="<%= result.images[0].url %>"/></td>
                        <td><a href="<%= result.url %>" class="btn btn-primary">Book Now</a></td>
                        </tr>
                        <% })%>

                    <% } %>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>